html {
  overflow-y: scroll !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-top: 35px !important
}

.full-width {
  width: 100%;
}

.zinc-logo {
  height: 60px;
}

.zinc-heading {
  display: inline-block;
  vertical-align: super;
}

.breadcrumb:first-child {
  margin-left: 20px;
}
