html {
  overflow-y: scroll !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin-top: 35px !important;
}

main {
  flex: 1 0 auto;
  margin: 1rem auto !important;
}

.none-select {
  user-select: none;
}

.breadcrumb-nav {
  height: auto;
  background-color: transparent !important;
  box-shadow: none !important;
  border-bottom: 4px #fff59d solid;

  img {
    display: block;
    margin: 0 auto;
  }

  a {
    display: inline-block;
    font-size: 2em;
    color: #ff9800 !important;

    @media only screen and (max-width: 600px) {
      font-size: 1.55em;
    }

    &:first-child {
      vertical-align: bottom;

      @media only screen and (max-width: 600px) {
        display: block;
      }
    }

    &:before {
      color: #f57c00;
    }

    &:nth-child(2) {
      &:before {
        content: "";
      }
    }
  }
}

.document-item .secondary-content {
  span {
    vertical-align: super;
  }

  a {
    height: 27px;
    line-height: 27px;
    padding: 0 1.5rem;
    margin-left: 10px;
    vertical-align: baseline;

    i {
      font-size: 1rem;
    }
  }
}

table.cooperative-store-info {
  tr {
    td:first-child {
      vertical-align: top;
      text-align: right;
    }
  }
}
