html {
  overflow-y: scroll !important;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  margin-top: 35px !important;
}

main {
  flex: 1 0 auto;
  margin-top: 35px !important
}

nav {
  height: auto;
}

.breadcrumb {
  &:first-child {
    margin-left: 16px;
  }

  display: inline-block;
}

.fixed-action-btn {
  bottom: 105px;
  right: 30px;
}
